*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: calc(80% - 20px);
    margin: auto;
}
.home-taskform{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.home-taskform input{
   width: calc(50% - 20px);
   padding: 10px;
   border: 1px solid black;
  
}
form{
    padding: 20px;
}


